@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: none;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

/* Sidebar and Notes */
.pane {
  overflow-y: auto;
}

.selected-note {
  background-color: #4a4e74;
  color: white;
  font-weight: bold;
}

/* Markdown Editor Styling */
.markdown-editor .w-md-editor-bar {
  background-color: #4a4e74;
  color: white;
  font-weight: bolder;
}


.markdown-editor .w-md-editor-preview {
  padding: 1rem;
}

.markdown-editor .w-md-editor-toolbar {
  border-bottom: 1px solid #ddd;
  height: 35px;
}

@media (max-width: 768px) {
  .markdown-editor .w-md-editor-toolbar {
    height: 70px;
  }
}

/* .markdown-editor .w-md-editor-toolbar button {
  font-size: 1.5rem;
  padding: auto 0.5rem; 
} */

.markdown-editor .w-md-editor-toolbar button svg {
  width: 0.9rem; 
  height: 0.9rem;
}

/* Styles for the resizable gutter */
.gutter {
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  cursor: col-resize;
}

.gutter-horizontal {
  width: 10px;
}

.gutter-horizontal:hover {
  background-color: #bbb;
}